# Node.js dependencies
node_modules/
npm-debug.log*
yarn-error.log
.env
.env.local
.env.development
.env.production
.env.test
.env.*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
/.log

# Build outputs
dist/
build/
coverage/
.next/
out/

# Docker
docker-compose.override.yml
docker-compose.prod.yml
.Dockerfile.swp
docker/data/
postgres_data/

# Database files
*.sqlite
*.sqlite3
*.sql
pgdata/
db_data/

# Editor files
.vscode/
.idea/
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db
